<nav class="p-4">
  <ul class="menu bg-base-200 sm:menu-horizontal rounded-box w-full sm:items-center">
    <li>
      <a routerLink="/country/by-capital" routerLinkActive="btn btn-dash">
        <img src="assets/img/capital.svg" alt="capital-img" />
        Por capital
      </a>
    </li>
    <li>
      <a routerLink="/country/by-country" routerLinkActive="btn btn-dash">
        <img src=" assets/img/flag.svg" alt="flag-img" />
        Por país
      </a>
    </li>
    <li>
      <a routerLink="/country/by-region" routerLinkActive="btn btn-dash">
        <img src="assets/img/region.svg" alt="capital-img" />
        Por región
      </a>
    </li>
  </ul>
</nav>